<div class="page">
  <header class="page__header">
    <button class="back-btn" type="button" routerLink="/">←</button>
    <h2>Agregar fiado</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()" class="form">
    <label class="field field--autocomplete">
      <!-- <span>Cliente</span> -->

      <div class="autocomplete">
        <!-- <input
      #clientInput
      type="text"
      formControlName="clientSearch"
      (input)="onClientSearchChange($any($event.target).value)"
      (focus)="showSuggestions = true"
      (blur)="onClientInputBlur()"
      placeholder="Escribe nombre, número o nota"
      autocomplete="off" -->
        <!-- /> -->

        <label class="field">
          <span>Cliente</span>

          <app-search-box
            [items]="clientItems"
            placeholder="Buscar cliente por nombre, número o nota"
            [showWhenEmpty]="true"
            (selected)="onClientSelected($event)"
          ></app-search-box>

          <small *ngIf="clientInvalid"> Selecciona un cliente de la lista. </small>
        </label>

        <ul class="autocomplete__list" *ngIf="showSuggestions && filteredClients.length > 0">
          <li
            class="autocomplete__item"
            *ngFor="let c of filteredClients"
            (click)="selectClient(c)"
          >
            <div class="item-main">
              <span class="item-name">#{{ c.code }} - {{ c.name }}</span>
            </div>
            <div class="item-note" *ngIf="c.note">
              {{ c.note }}
            </div>
          </li>
        </ul>

        <div class="autocomplete__empty" *ngIf="showSuggestions && filteredClients.length === 0">
          No hay clientes que coincidan.
        </div>
      </div>

      <small *ngIf="clientInvalid">Selecciona un cliente de la lista.</small>
    </label>

    <label class="field">
      <span>Monto fiado (RD$)</span>
      <input type="number" formControlName="amount" inputmode="decimal" />
      <small *ngIf="amountInvalid">Ingresa un monto mayor a 0.</small>
    </label>

    <label class="field">
      <span>Nota (opcional)</span>
      <textarea formControlName="note" rows="2"></textarea>
    </label>

    <div class="actions">
      <button type="button" class="btn btn--secondary" (click)="cancel()">Cancelar</button>
      <button type="submit" class="btn btn--primary">Guardar</button>
    </div>
  </form>
</div>
